@import '../Utils/styles.scss';
.card {
  @include displayFlex(column, space-between, flex-start);
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  background-size: cover;
  height: 350px;

  &-inner {
    @include displayFlex(column, space-between, flex-start);
    height: 100%;
    border: solid;
    padding: 15px;
    border-radius: 15px;
  }

  &-description {
    padding: 0px;
  }

  &-col {
    margin: 0px;
    color: #f2eeee;
    font-family: 'Roboto';
  }

  &-text {
    margin: 5px 0px 5px 0px;
    font-family: 'Roboto';
    color: #f2eeee;
    width: 75%;
    font-weight: 500;
  }
}
